* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
ul li {
    list-style-type: none;
}

.dashboard {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: min-content auto;
}

.sidebar {
    padding: 15px;
    color: #eee;
    font-weight: bold;
    background-color: #4aa0f6;
    grid-row: 1 / 3;
    display: grid;
    gap: 40px;
    align-content: start;
}

.sidebar ul {
    display: grid;
    gap: 15px;
}

.sidebar a {
    text-decoration: none;
    color: #eee;
}

.logo {
    font-size: 1.3rem;
}

.main-content {
    padding: 60px 10px 60px 15px;
    background-color: #eee8;
    display: grid;
    grid-template: min-content min-content / min-content min-content ;
    row-gap: 60px;
    column-gap: 15px;
}

.projects {
    grid-row: 1 / 3 ;
    display: grid;
    grid-template: repeat(3, 1fr) / 350px 350px;
    gap: 15px;
}

.projects > .cards {
    border: 1px solid #0001;
    border-left: 8px solid #ffe600;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #0003;
    background-color: #fff;
    padding: 25px 15px 20px 15px;
}

.projects > .cards p {
    font-size: 14px;
    color: #0009;
}

.projects > .cards h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.announcements, .trending {
    border: 1px solid #0001;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #0003;
    background-color: #fff;
    padding: 10px 25px;
}

.announcements .cards {
    border-bottom: 1px solid #0003;
    padding: 20px 5px;
}

.announcements .cards:last-of-type {
    border: none;
}

.announcements > .cards p, .trending > .cards p {
    font-size: 14px;
    color: #0009;
}

.announcements > .cards h2, .trending > .cards h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.announcements {
    display: grid;
    grid-template: 1fr 1fr 1fr / 250px;
}

.trending {
    display: grid;
    grid-template: repeat(3, 1fr) / 250px;
    align-content: start;
    gap: 20px;
}

.trending .cards {
    display: grid;
    grid-template: min-content min-content / min-content max-content;
    gap: 1px 15px;
}

.trending button {
    grid-row: 1 / span 2;
}

.header {
    display: grid;
    padding: 15px 50px;
    grid-template-rows: min-content min-content;
    row-gap: 20px;
}

.top-header, .bottom-header, .bottom-header>ul {
    display: grid;
    grid-auto-flow: column;
}

.top-header {
    align-items: center;
}

.search-bar {
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    grid-template-columns: min-content 300px;
}

.menu {
    display: grid;
    grid-auto-flow: column;
    gap: 25px;
    font-weight: bold;
    grid-template-columns: min-content min-content max-content;
}

.bottom-header {
    align-items: center;
}

.bottom-header > div {
    display: grid;
    grid-template: min-content min-content / min-content max-content;
    gap: 5px 15px;
    font-weight: bold;
}

.bottom-header p:first-of-type {
    font-size: 0.8rem;
}

.bottom-header button:first-of-type {
    grid-row: 1 / 3;
}

.bottom-header ul {
    justify-content: center;
    gap: 25px;
}

.bottom-header ul button {
    padding: 8px 25px;
    border-radius: 20px;
    background-color: #4aa0f6;
    border: none;
    color: #eee;
    font-weight: bold;
}

@media screen and (max-width: 1000px) {

    .announcements, .trending {
        display: none;
    }
    .main-content {
        grid-template: 1fr / 1fr ;
    }
    .dashboard {
        min-height: 100vh;
    }
}